*,
*::before,
*::after{
    box-sizing: border-box;
}

:root{
    --clr-light: #fff;
    --clr-dark: #303030;
}

body{
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    line-height: 1.6;
}

img{
    display: block;
    max-width: 100%;
}

h1,
h2,
h3{
    line-height: 1.1;
    margin: 0;
}

