@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*,
*::before,
*::after{
    box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: auto;
  font-family: Montserrat, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
}

/* Header */

a{
    text-decoration: none;
    color: white;
    transition: color 0.2s;
}

.logo a{
    font-size: 40px;
    font-weight: bolder;
    transition: color 0.2s;
    margin: 1.2rem;
}

.header-links ul{
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    gap: 24px;
    font-size: 20px;
}

.header{
    background-color: transparent;
    /* padding: 50px; */
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    /* height: 20px; */
    transition: 0.5s;
}

.toggle-button{
    position: absolute;
    top: 0.6rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

/* .header.shrunk{
    padding: 30px;
} */

.header.shrunk .logo a{
    font-size: 28px; /* Shrink the h1 font size */
}

.header.shrunk .header-links ul {
    font-size: 16px; /* Shrink the link font size */
}

.header-links a:hover, .logo a:hover{
    color: rgb(161, 171, 170);
}

/* Main content under header*/

.self-photo{
    width: 250px;
    height: 250px;
    border-radius: 100%;
}

.content{
    /* background-color: #1F2937; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/img/background-img4.jpg);
    background-size: 2000px;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 225px;
}

.main{
    text-align: center;
}

.title{
    font-size: 60px;
    font-weight: bolder;
    color: #F9FAF8;
}

.subtext{
    font-size: 25px;
    color: #E5E7EB;
}

/* About Me */
.about-section{
    display: flex;
    justify-content: center;
    padding: 80px;
    padding-left: 400px;
    padding-top: 80px;
    padding-bottom: 80px;
    gap: 50px;
}

h3{
    padding-top: 20px;
}

.about-photo{
    width: 350px;
    border-radius: 5%;
}

.text{
    line-height: 30px;
}

.learn{
    padding-top: 20px;
}

/* a button{
   cursor: pointer; 
   transition: 0.2s;
}

a button:hover{
    background-color: black;
} */

/* button {
    border: none;
    border-radius: 8px;
    background: #4e535c;
    padding: 8px 20px;
    font-size: 20px;
    color: white;
} */

.socials{
    display: flex;
    padding-top: 15px;
    gap: 20px;
}

.icon-social {
    font-size: 1rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4e535c;
    color: white;
    padding: 0.5em 0.6em;
    transition: 0.2s;
}

.icon-social:hover{
    background-color: rgb(54, 50, 50);
}

/* Skills */
.info-subtitle{
    background-color: #E5E7EB;
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    padding-top: 100px;
    padding-bottom: 50px;
}

.information{
    background-color: #E5E7EB;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    column-gap: 70px;
    align-items: start;
    margin: 0 auto;
    padding-right: 100px;
    padding-left: 100px;
    
}

.icon {
    font-size: 3rem;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(25, 25, 25);
    color: white;
    padding: 0.5em 0.6em;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 80px;
}

/* Projects */
.project-section{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
    gap: 10px;
}

.project-subtitle{
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    padding-top: 100px;
    padding-bottom: 50px;
}

.project-img{
    width: 300px;
}

/* Contact */
.contact-subtitle{
    display: flex;
    font-size: 36px;
    justify-content: space-evenly;
    align-items: center;
    background-color: #545752;
    /* padding: 20px; */
    color: white;
}

/* Call to Action */
.contact{
    background-color: #545752;
    text-align: center;
    font-size: 18px;
    margin: 50px 200px;
    padding: 50px;
    color: white;
}

.contact p a{
    color: rgb(11, 179, 230);
    text-decoration: underline;
    transition: 0.2s;
}

.contact p a:hover{
    color: rgb(11, 120, 230);
}
/* Footer */

.footer {
    bottom: 0;
    left: 0;
    right: 0;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: black;
    padding: 20px;
    color: white;
    gap: 20px;
}

.icon-footer {
    font-size: 1.3rem;
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4e535c;
    color: white;
    padding: 0.5em 0.6em;
}

.socials-footer{
    display: flex;
    gap: 20px;
}

.icon-footer:hover{
    background-color: rgb(118, 124, 123);
}

@media (max-width: 800px) {
    .toggle-button{
        display: flex;
    }

    .header-links{
        display: none;
        width: 100%;
    }

    .header{
        background-color: #1f2937;
        flex-direction: column;
        align-items: flex-start;
    }

    .logo a{
        font-size: 28px;
    }

    .header-links ul{
        width: 100%;
        flex-direction: column;
        padding: 10px;
        gap: 18px;
    }
    
    .header-links li a  {
        padding: 10px;
        font-size: 16px;
    }

    .header-links.active{
        display: flex;
    }

    .about-section{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-top: 50px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 50px;
        gap: 50px;
    }

    .self-photo{
        width: 250px;
        height: 250px;
        border-radius: 100%;
    }

    .socials{
        justify-content: center;
    }

    .information{
        grid-template-columns: 1fr;
    }
    
    .project-section{
        grid-template-columns: auto;
    }

    .project-img{
        width: 300px;
    }

    .contact{
        margin: 0px;
    }

    .content{
        background-image: none;
        background-color: #1f2937;
        background-size: 0px;
        padding-top: 170px;
        padding-bottom: 170px;
        padding-left: 30px;
        padding-right: 30px;
    }
}